@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  font-family: "Noto Sans", Arial, sans-serif;
  --crimson-font: "Crimson Pro";
  color: rgba(0, 0, 0, 0.8);

  background-color: rgba(240, 128, 128, 0.04);
  --dark-red: rgba(128, 0, 0, 1);
  --dark-brown: rgba(83, 9, 9, 1);
  --pink: rgba(248, 173, 157, 1);
  --light-pink: rgba(248, 173, 157, 0.3);
}

* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  text-decoration: none;
  color: inherit;
}
