.authZoneContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    overflow: hidden;
  }
  
  .pinkOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--light-pink);
    pointer-events: none;
    z-index: 1;
  }
  
  .titleAndOptionsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--dark-brown);
    text-align: center;
    padding: 2rem;
    position: relative;
    z-index: 2;
  }
  
  .title {
    font-size: 3rem;
    font-family: var(--crimson-font);
  }
  
  .titleDescription {
    font-size: 1.6rem;
    margin-top: 1.5rem;
  }
  
  .titleDescription,
  .registerDescription {
    font-weight: 500;
  }
  
  .loginButton,
  .registerDescription {
    font-size: 1.2rem;
  }
  
  .loginButton {
    background-color: var(--dark-red);
    color: white;   
    border-radius: 10px;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    margin: 3rem auto 1.5rem auto;
    font-family: inherit;
  }
  